.stars, .stars2, .stars3 {
  position: absolute;
  width: 200%;
  height: 200%;
  background-repeat: repeat;
  background-image:
    radial-gradient(1px 1px at 20px 30px, #fff, transparent),
    radial-gradient(1px 1px at 150px 80px, #fff, transparent),
    radial-gradient(1px 1px at 300px 200px, #fff, transparent),
    radial-gradient(2px 2px at 400px 100px, #fff, transparent);
  animation: moveStars 60s linear infinite;
}

.stars2 {
  animation-duration: 90s;
  opacity: 0.5;
}

.stars3 {
  animation-duration: 120s;
  opacity: 0.3;
}

@keyframes moveStars {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-500px);
  }
}
