body {
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.card {
  background: white;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
  color: #ff4d6d;
}

p {
  color: #444;
  font-size: 16px;
}

img {
  width: 100%;
  border-radius: 15px;
  margin-top: 10px;
}

.final {
  margin-top: 20px;
  font-weight: bold;
}
